<p id="notice"><%= notice %></p>

<h1>Pagina Inicial</h1>
<hr>
<%= link_to 'Processos',processos_path %> |
<%= link_to 'Advogados', advogados_list_path %> |
<%= link_to 'Show',advogado_path(@advogado) %> |
<%= link_to 'Sair',destroy_user_session_path, method: :delete %>


<%= render 'show', advogado: @advogado %>
<br>