<h1>Advogado - <%=@advogado.nome %></h1>
<p id="notice"><%= notice %></p>

<h1>Advogado - <%= @advogado.nome %></h1>
<hr>

<p>
  <strong>Nome:</strong>
  <%= @advogado.nome %>
</p>

<p>
  <strong>N oab:</strong>
  <%= @advogado.n_OAB %>
</p>

<%= link_to 'Edit', edit_advogado_path(@advogado) %> |
<%= link_to 'Back', advogados_path %>
