<h1>Advogado Info - <%=@advogado.nome %> </h1>
<hr>
<%= link_to 'Back', advogados_path %> |
<%= link_to 'Edit', edit_advogado_path(@advogado) %>

<%= render 'show' %>

<p>
  <strong>Email:</strong>
  <%= @advogado.user.email %>
</p>
