<h1>Editing Historico</h1>

<%= form_with(model: @historico, local: true) do |form| %>
  <div class="field">
    <%= form.label :Atualizar_historico %>
    <%= form.text_field :descricao, id: :historico_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @historico %> |
<%= link_to 'Back', historicos_path %>
