<p id="notice"><%= notice %></p>

<h1>Histórico - Processo <%= @processo.num_processo %></h1>
<hr>
<%= render @processo.historicos %>
<br>
<%= render 'historicos/form' %>
<hr>
<%= link_to 'Back', processo_path(@processo) %>
