<p id="notice"><%= notice %></p>

<h1>Processos</h1>
<%= link_to "Exit", destroy_user_session_path, method: :delete %>
<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Ex adversa</th>
      <th>Natureza</th>
      <th>Assunto</th>
      <th>Tipo acao</th>
      <th>Juizo</th>
      <th>Num processo</th>
      <th>Ultima movimentacao</th>
      <th>Ultimo contato cliente</th>
      <th>Contato agendado</th>
      <th>Adv principal</th>
      <th>Adv assistente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processos.each do |processo| %>
      <tr>
        <td><%= processo.cliente %></td>
        <td><%= processo.ex_adversa %></td>
        <td><%= processo.natureza %></td>
        <td><%= processo.assunto %></td>
        <td><%= processo.tipo_acao %></td>
        <td><%= processo.juizo %></td>
        <td><%= processo.num_processo %></td>
        <td><%= processo.ultima_movimentacao %></td>
        <td><%= processo.ultimo_contato_cliente %></td>
        <td><%= processo.contato_agendado %></td>
        <td><%= processo.adv_principal %></td>
        <td><%= processo.adv_assistente %></td>
        <td><%= link_to 'Show', processo %></td>
        <td><%= link_to 'Edit', edit_processo_path(processo) %></td>
        <td><%= link_to 'Destroy', processo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processo', new_processo_path %>
